services:
  postgres:
    image: postgres
    container_name: postgres
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "library"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
